/*************
Video Controls
**************/

#video_player_box{
 width:60%; 
 background-color: yellow; 
 margin:0px auto;
 
}

#video_controls_bar{ 
  background: green; 
  padding-bottom: 35px;
  width: 100%;
  margin-top; 0;

}


.controls1 ul li{
  display: block;
  float:left;
}

.controls2  ul li{
  display: inline-block;
  float:right;
}


button#playpausebtn {
  background:url(../icons/pause-icon.png);
  border:none;
  width:21.5px;
  height:26px;
  cursor:pointer;
  opacity:0.9;
  margin-left: -40px;
}

button#playpausebtn:hover{
  opacity: 1
};

input#seekslider {
  width: 100%;
}

input#volumeslider {
  width: 80px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border:#666 1px solid;
    height:4px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #FFF;
    height:15px;
    width:15px;
    border-radius:100%;
    cursor:pointer;
}

/*#mutebtn,
#volumeslider,
#fullscreenbtn {
  background-color: green;
}
*/



.my_video {
  width: 500px;
}





