   
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  color: white;
 
}

/*************
Video Controls
**************/
#progress {
  width: 0%;
  position: absolute;
  top: -10px;
  -webkit-appearance: none;
  background-color: orange;
  height: 5px;
  z-index: 1;

}

#text   {
  color: black;
  padding: 0 15px;
}

.text {
  padding: 0 20px;
}

div#video_player_box{
 width: 100%; 
 position: relative;
}



#my_video {
  width: 100%;
  margin-bottom: 0; 
   
     
}

#video_controls_bar{ 
max-width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;

}

#curtimetext,
#durtimetext {
  color: white;
}


#controls_wrap {
  margin-top: -5px;

}

track#chris {
  background-color: red;
}

.controls1 li{
  display: block;
  float: left;
  padding-left: 10px; 
  margin-bottom: 10px; 
}

.controls2 li{
  float: right;
  display: inline-block;
  padding-right: 10px;

}


  #fullscreenbtn {
  border:none;
  cursor:pointer;
  outline: none;
  width: 30px;
  margin-right: 0;
  display: inline-block
}

button#mutebtn {
  background:url(../icons/volume-on-icon.png); 
  width: 22px;
  height: 20px;
  outline: none;
  border:none;
}




button {
 outline-style: none;
 background-color: rgba(0,0,0,0); 
}


button#playpausebtn {
  background:url(../icons/pause-icon.png);
  border:none;
  width: 22px;
  height: 26px;
  cursor:pointer;
  opacity:0.9;
  margin-left: -30px;
  outline: none;
 }



button#playpausebtn:hover{
  opacity: 1;
}

#seekslider {
  width: 100%;
  position: absolute;
  top: -10px;
  -webkit-appearance: none;
  background-color: #6d6e6d;
  height: 5px;
  z-index: 0;
}

#seekslider:focus { outline: none; }
#seekslider::-webkit-slider-thumb {
 -webkit-appearance: none !important;
 height: 0;
 width: 0;
}
#seekslider::-moz-range-thumb {
 visibility: hidden !important;
}



input#volumeslider {
  width: 80px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background-color: #000;
    border:grey 1px solid;
    height:4px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: orange;
    height:5px;
    width:15px;
    cursor:pointer;
}

.highlight {
      color: orange;
    }






