 
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  color: white;
 
}

/*************
Video Controls
**************/


#video_player_box{
 width: 100; 
 margin:0px auto;
 
}

#my_video {
  width: 100%;
  margin-bottom: 0;
   
}

#video_controls_bar{ 
  padding-bottom: 30px;
  background-color: rgba(0,0,0,0.3); 
  position: relative;
  bottom: 70px;

}

/*.controls li {
list-style: none;
display: inline-block;
}*/

#controls_wrap {
  margin-top: -5px;

}

.controls1 li{
  display: block;
  float: left;
  padding-left: 10px; 
}

.controls2 li{
  float: right;
  display: inline-block;
  padding-right: 10px;

}


  #fullscreenbtn {
  border:none;
  cursor:pointer;
  outline: none;
  width: 30px;
  margin-right: 0;
  display: inline-block
}

button#mutebtn {
  background:url(../icons/volume-on-icon.png); 
  width: 22px;
  height: 20px;
  outline: none;
  border:none;
}




button {
 outline-style: none;
 background-color: rgba(0,0,0,0); 
}


button#playpausebtn {
  background:url(../icons/pause-icon.png);
  border:none;
  width: 22px;
  height: 26px;
  cursor:pointer;
  opacity:0.9;
  margin-left: -30px;
  outline: none;
 }



button#playpausebtn:hover{
  opacity: 1;
}

input#seekslider {
  width: 100%;
}

input#volumeslider {
  width: 80px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
    border:grey 1px solid;
    height:4px;
    width: 100%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: orange;
    height:5px;
    width:15px;
    /*border-radius:100%;*/
    cursor:pointer;
}







